.navbar-button {
  height: 40px;
  width: 80px;
  background-color: #127bde;
  color: #eef5fc;
  border: 3px solid #127bde;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}
.navbar-button:hover {
  background-color: #eef5fc;
  color: #127bde;
  transition: 0.5s;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #127bde;
  height: 500px;
  width: 350px;
  margin: 5px;
  cursor: pointer;
}
.card-top {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0c579c;
  padding-bottom: 5px;
}
.card-top-image {
  height: 100%;
  max-width: 100%;
}
.card-bottom {
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: #127bde;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-bottom-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.card-bottom-title-header {
  color: #eef5fc;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}
.card-bottom-title-price {
  color: #eef5fc;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.card-bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.card-bottom-info-text {
  color: #eef5fc;
  font-family: "Young Serif", sans-serif;
  font-size: 18px;
}
.card-bottom-info-button {
  height: 40px;
  width: 80px;
  background-color: #127bde;
  color: #eef5fc;
  border: 3px solid #127bde;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
  background-color: #eef5fc;
  color: #127bde;
  width: 50px;
}
.card-bottom-info-button:hover {
  background-color: #eef5fc;
  color: #127bde;
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0px 30px;
}
.navbar-logo {
  width: 30%;
  padding-bottom: 10px;
}
.navbar-logo .logo-img {
  height: 45px;
  width: 200px;
}
.navbar-navigation {
  width: 30%;
}
.navbar-navigation .nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-navigation .nav-list-item {
  list-style: none;
  display: inline;
}
.navbar-navigation .nav-list-item a {
  text-decoration: none;
  color: #127bde;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.navbar-navigation .nav-list-item:hover {
  transform: scale(1.1);
  transition: 1s;
}
.navbar-buttons {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.about {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #127bde;
  box-shadow: inset 0 0 0.7em 0.5em #0c579c;
  margin-bottom: 100px;
}
.about-info {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.about-info-left {
  width: 50%;
}
.about-info-left .about-info-heading {
  color: #eef5fc;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}
.about-info-left .about-info-text {
  color: #eef5fc;
  font-family: "Young Serif", sans-serif;
  font-size: 18px;
}
.about-info-right {
  width: 50%;
}
.about-info-right .about-info-image {
  height: 600px;
  position: absolute;
  left: 1200px;
  top: 60px;
}

.intro {
  height: 200px;
  background-color: #127bde;
  box-shadow: inset 0 0 0.7em 0.5em #0c579c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-header {
  color: #eef5fc;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}
.intro-text {
  color: #eef5fc;
  font-family: "Young Serif", sans-serif;
  font-size: 18px;
}

.gallery {
  width: 100%;
  margin: 30 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery-title {
  color: #0c579c;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 46px;
  padding-bottom: 20px;
}
.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 88vw;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100 0 0 0;
}
.products-filters-search {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #127bde;
  padding-left: 10px;
}
.products-filters-button {
  cursor: pointer;
  height: 30px;
  width: 100px;
  border: 2px solid #127bde;
  border-radius: 5px;
  background-color: #eef5fc;
  color: #0c579c;
}
.products-filters-button:hover {
  background-color: #127bde;
  color: #eef5fc;
}
.products-pages-button {
  height: 40px;
  width: 80px;
  background-color: #127bde;
  color: #eef5fc;
  border: 3px solid #127bde;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #eef5fc;
  color: #0c579c;
}
.products-pages-button:hover {
  background-color: #eef5fc;
  color: #127bde;
  transition: 0.5s;
}
.products-pages-button:hover {
  background-color: #127bde;
  color: #eef5fc;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #127bde;
  color: #eef5fc;
  font-family: "Poppins", sans-serif;
  margin: 100 0 0 0;
  height: 250px;
  box-shadow: inset 0 0 0.7em 0.5em #0c579c;
}
.footer-contact-title {
  color: #eef5fc;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}
.footer-contact-title-link {
  text-decoration: none;
  color: #eef5fc;
}
.footer-contact-list-item {
  list-style: none;
  text-align: center;
  padding: 5px;
}
.footer-icon {
  color: white;
}

/*# sourceMappingURL=style.css.map */
